In [4]:
#pandas 
import pandas as pd
data = pd.read_csv('C:/Users/Surendra/Desktop/data science/TOP MENTOR/mysql/Top_mentor_projects_Datasets-main/Top_mentor_projects_Datasets-main./car_sales.csv')
data

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,02-02-2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,06-03-2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,01-04-2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,03-10-2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10-08-2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [6]:
data.head(5)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,02-02-2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,06-03-2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,01-04-2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,03-10-2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10-08-2011,62.777639

In [9]:
data.columns

Index(['Manufacturer', 'Model', 'Sales_in_thousands', '__year_resale_value',
       'Vehicle_type', 'Price_in_thousands', 'Engine_size', 'Horsepower',
       'Wheelbase', 'Width', 'Length', 'Curb_weight', 'Fuel_capacity',
       'Fuel_efficiency', 'Latest_Launch', 'Power_perf_factor'],
      dtype='object')

In [89]:
data1 = data.copy()
data1

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,02-02-2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,06-03-2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,01-04-2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,03-10-2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10-08-2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [14]:
data1.dtypes

Manufacturer            object
Model                   object
Sales_in_thousands     float64
__year_resale_value    float64
Vehicle_type            object
Price_in_thousands     float64
Engine_size            float64
Horsepower             float64
Wheelbase              float64
Width                  float64
Length                 float64
Curb_weight            float64
Fuel_capacity          float64
Fuel_efficiency        float64
Latest_Launch           object
Power_perf_factor      float64
dtype: object

In [19]:
type(data1)

pandas.core.frame.DataFrame

In [20]:
data1.mean()

Sales_in_thousands      52.998076
__year_resale_value     18.072975
Price_in_thousands      27.390755
Engine_size              3.060897
Horsepower             185.948718
Wheelbase              107.487179
Width                   71.150000
Length                 187.343590
Curb_weight              3.378026
Fuel_capacity           17.951923
Fuel_efficiency         23.844156
Power_perf_factor       77.043591
dtype: float64

In [21]:
type(data1), data1.dtypes

(pandas.core.frame.DataFrame,
 Manufacturer            object
 Model                   object
 Sales_in_thousands     float64
 __year_resale_value    float64
 Vehicle_type            object
 Price_in_thousands     float64
 Engine_size            float64
 Horsepower             float64
 Wheelbase              float64
 Width                  float64
 Length                 float64
 Curb_weight            float64
 Fuel_capacity          float64
 Fuel_efficiency        float64
 Latest_Launch           object
 Power_perf_factor      float64
 dtype: object)

In [22]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  121 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   155 non-null    float64
 6   Engine_size          156 non-null    float64
 7   Horsepower           156 non-null    float64
 8   Wheelbase            156 non-null    float64
 9   Width                156 non-null    float64
 10  Length               156 non-null    float64
 11  Curb_weight          155 non-null    float64
 12  Fuel_capacity        156 non-null    float64
 13  Fuel_efficiency      154 non-null    float64
 14  Latest_Launch        157 non-null    object
 15  Power_perf_factor    155 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [25]:
data1['Engine_size']

0      1.8
1      3.2
2      3.2
3      3.5
4      1.8
      ...
152    1.9
153    2.4
154    2.4
155    2.3
156    2.9
Name: Engine_size, Length: 157, dtype: float64

In [90]:
A1 = data1[['Latest_Launch','Fuel_capacity','Latest_Launch']].head(10)
A1

  Latest_Launch  Fuel_capacity Latest_Launch
0    02-02-2012           13.2    02-02-2012
1    06-03-2011           17.2    06-03-2011
2    01-04-2012           17.2    01-04-2012
3    03-10-2011           18.0    03-10-2011
4    10-08-2011           16.4    10-08-2011
5    08-09-2011           18.5    08-09-2011
6     2/27/2012           23.7     2/27/2012
7     6/28/2011           16.6     6/28/2011
8     1/29/2012           16.6     1/29/2012
9    04-04-2011           18.5    04-04-2011

In [52]:
A1.shape

(10, 3)

In [56]:
s = [10,12,14,15,16,18,19,11,22,11]
A1['rank']= s
A1

  Latest_Launch  Fuel_capacity Latest_Launch  rank
0    02-02-2012           13.2    02-02-2012    10
1    06-03-2011           17.2    06-03-2011    12
2    01-04-2012           17.2    01-04-2012    14
3    03-10-2011           18.0    03-10-2011    15
4    10-08-2011           16.4    10-08-2011    16
5    08-09-2011           18.5    08-09-2011    18
6     2/27/2012           23.7     2/27/2012    19
7     6/28/2011           16.6     6/28/2011    11
8     1/29/2012           16.6     1/29/2012    22
9    04-04-2011           18.5    04-04-2011    11

In [91]:
mpg = pd.Series([35,54,2,5,55,76])
A1['mpg'] = mpg
A1

  Latest_Launch  Fuel_capacity Latest_Launch   mpg
0    02-02-2012           13.2    02-02-2012  35.0
1    06-03-2011           17.2    06-03-2011  54.0
2    01-04-2012           17.2    01-04-2012   2.0
3    03-10-2011           18.0    03-10-2011   5.0
4    10-08-2011           16.4    10-08-2011  55.0
5    08-09-2011           18.5    08-09-2011  76.0
6     2/27/2012           23.7     2/27/2012   NaN
7     6/28/2011           16.6     6/28/2011   NaN
8     1/29/2012           16.6     1/29/2012   NaN
9    04-04-2011           18.5    04-04-2011   NaN

In [92]:
data1.sample(frac=.05)    #suffle 5-% of data in datafrome

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
140,Toyota,Tacoma,84.087,9.575,Car,11.528,2.4,142.0,103.3,66.5,178.7,2.580,15.1,23.0,08-01-2011,55.297117
150,Volkswagen,Beetle,49.463,NaN,Passenger,15.900,2.0,115.0,98.9,67.9,161.1,2.769,14.5,26.0,10/20/2011,47.329632
105,Nissan,Pathfinder,42.574,17.810,Car,29.299,3.3,170.0,106.3,71.7,182.6,3.947,21.0,19.0,9/25/2011,72.290355
48,Ford,Contour,35.068,8.835,Passenger,17.035,2.5,170.0,106.5,69.1,184.6,2.769,15.0,25.0,8/20/2012,67.351011
85,Mitsubishi,Montero Sport,39.348,13.880,Car,22.527,3.0,173.0,107.3,66.7,178.3,3.510,19.5,20.0,5/18/2012,70.660942
92,Mercedes-B,C-Class,18.392,26.050,Passenger,31.750,2.3,185.0,105.9,67.7,177.4,3.250,16.4,26.0,4/24/2011,78.280731
16,Cadillac,Eldorado,6.536,25.725,Passenger,39.665,4.6,275.0,108.0,75.5,200.6,3.843,19.0,22.0,11/27/2011,113.765874
126,Porsche,Carrera Cabrio,1.866,67.550,Passenger,74.970,3.4,300.0,92.6,69.5,174.5,3.075,17.0,23.0,07-11-2011,135.914710

In [93]:
data1.isna().sum()#.sum()

Manufacturer            0
Model                   0
Sales_in_thousands      0
__year_resale_value    36
Vehicle_type            0
Price_in_thousands      2
Engine_size             1
Horsepower              1
Wheelbase               1
Width                   1
Length                  1
Curb_weight             2
Fuel_capacity           1
Fuel_efficiency         3
Latest_Launch           0
Power_perf_factor       2
dtype: int64

In [96]:
data1 = data1.sample(frac =1)
data1

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
139,Toyota,Celica,33.269,15.445,Passenger,16.875,1.8,140.0,102.4,68.3,170.5,2.425,14.5,31.0,12/29/2012,56.496030
151,Volvo,S40,16.957,NaN,Passenger,23.400,1.9,160.0,100.5,67.6,176.6,2.998,15.8,25.0,2/18/2011,66.113057
30,Chrysler,Concorde,31.148,13.725,Passenger,22.245,2.7,200.0,113.0,74.4,209.1,3.452,17.0,26.0,06-06-2012,80.023782
88,Mercury,Sable,67.956,11.030,Passenger,19.035,3.0,153.0,108.5,73.0,199.7,3.379,16.0,24.0,9/22/2012,62.239967
66,Jaguar,S-Type,15.467,NaN,Passenger,42.800,3.0,240.0,114.5,71.6,191.3,3.650,18.4,21.0,11-03-2012,102.178985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,Chrysler,Sebring Coupe,7.854,12.360,Passenger,19.840,2.5,163.0,103.7,69.7,190.9,2.967,15.9,24.0,1/16/2012,65.957184
147,Volkswagen,Passat,51.102,16.725,Passenger,21.200,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,10/30/2012,61.701381
156,Volvo,S80,18.969,NaN,Passenger,36.000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.990,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26.0,5/31/2011,48.907372
97,Mercedes-B,SLK230,1.526,NaN,Passenger,41.000,2.3,185.0,94.5,67.5,157.3,2.975,14.0,27.0,08-06-2011,81.848969

In [97]:
data1.reset_index()   #to get the indext value in order

,index,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,139,Toyota,Celica,33.269,15.445,Passenger,16.875,1.8,140.0,102.4,68.3,170.5,2.425,14.5,31.0,12/29/2012,56.496030
1,151,Volvo,S40,16.957,NaN,Passenger,23.400,1.9,160.0,100.5,67.6,176.6,2.998,15.8,25.0,2/18/2011,66.113057
2,30,Chrysler,Concorde,31.148,13.725,Passenger,22.245,2.7,200.0,113.0,74.4,209.1,3.452,17.0,26.0,06-06-2012,80.023782
3,88,Mercury,Sable,67.956,11.030,Passenger,19.035,3.0,153.0,108.5,73.0,199.7,3.379,16.0,24.0,9/22/2012,62.239967
4,66,Jaguar,S-Type,15.467,NaN,Passenger,42.800,3.0,240.0,114.5,71.6,191.3,3.650,18.4,21.0,11-03-2012,102.178985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,28,Chrysler,Sebring Coupe,7.854,12.360,Passenger,19.840,2.5,163.0,103.7,69.7,190.9,2.967,15.9,24.0,1/16/2012,65.957184
153,147,Volkswagen,Passat,51.102,16.725,Passenger,21.200,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,10/30/2012,61.701381
154,156,Volvo,S80,18.969,NaN,Passenger,36.000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655
155,148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.990,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26.0,5/31/2011,48.907372
156,97,Mercedes-B,SLK230,1.526,NaN,Passenger,41.000,2.3,185.0,94.5,67.5,157.3,2.975,14.0,27.0,08-06-2011,81.848969

In [100]:
data1 = data1.reset_index(drop =True) # to reset the index value in data1

In [101]:
data1

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Toyota,Celica,33.269,15.445,Passenger,16.875,1.8,140.0,102.4,68.3,170.5,2.425,14.5,31.0,12/29/2012,56.496030
1,Volvo,S40,16.957,NaN,Passenger,23.400,1.9,160.0,100.5,67.6,176.6,2.998,15.8,25.0,2/18/2011,66.113057
2,Chrysler,Concorde,31.148,13.725,Passenger,22.245,2.7,200.0,113.0,74.4,209.1,3.452,17.0,26.0,06-06-2012,80.023782
3,Mercury,Sable,67.956,11.030,Passenger,19.035,3.0,153.0,108.5,73.0,199.7,3.379,16.0,24.0,9/22/2012,62.239967
4,Jaguar,S-Type,15.467,NaN,Passenger,42.800,3.0,240.0,114.5,71.6,191.3,3.650,18.4,21.0,11-03-2012,102.178985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Chrysler,Sebring Coupe,7.854,12.360,Passenger,19.840,2.5,163.0,103.7,69.7,190.9,2.967,15.9,24.0,1/16/2012,65.957184
153,Volkswagen,Passat,51.102,16.725,Passenger,21.200,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,10/30/2012,61.701381
154,Volvo,S80,18.969,NaN,Passenger,36.000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655
155,Volkswagen,Cabrio,9.569,16.575,Passenger,19.990,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26.0,5/31/2011,48.907372
156,Mercedes-B,SLK230,1.526,NaN,Passenger,41.000,2.3,185.0,94.5,67.5,157.3,2.975,14.0,27.0,08-06-2011,81.848969

In [105]:
data1.fillna(0, inplace =True)   #will assing in orignal place any place they have
data1

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Toyota,Celica,33.269,15.445,Passenger,16.875,1.8,140.0,102.4,68.3,170.5,2.425,14.5,31.0,12/29/2012,56.496030
1,Volvo,S40,16.957,0.000,Passenger,23.400,1.9,160.0,100.5,67.6,176.6,2.998,15.8,25.0,2/18/2011,66.113057
2,Chrysler,Concorde,31.148,13.725,Passenger,22.245,2.7,200.0,113.0,74.4,209.1,3.452,17.0,26.0,06-06-2012,80.023782
3,Mercury,Sable,67.956,11.030,Passenger,19.035,3.0,153.0,108.5,73.0,199.7,3.379,16.0,24.0,9/22/2012,62.239967
4,Jaguar,S-Type,15.467,0.000,Passenger,42.800,3.0,240.0,114.5,71.6,191.3,3.650,18.4,21.0,11-03-2012,102.178985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Chrysler,Sebring Coupe,7.854,12.360,Passenger,19.840,2.5,163.0,103.7,69.7,190.9,2.967,15.9,24.0,1/16/2012,65.957184
153,Volkswagen,Passat,51.102,16.725,Passenger,21.200,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,10/30/2012,61.701381
154,Volvo,S80,18.969,0.000,Passenger,36.000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655
155,Volkswagen,Cabrio,9.569,16.575,Passenger,19.990,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26.0,5/31/2011,48.907372
156,Mercedes-B,SLK230,1.526,0.000,Passenger,41.000,2.3,185.0,94.5,67.5,157.3,2.975,14.0,27.0,08-06-2011,81.848969

In [106]:
data1.loc[1]  #by locatin of value

Manufacturer               Volvo
Model                        S40
Sales_in_thousands        16.957
__year_resale_value          0.0
Vehicle_type           Passenger
Price_in_thousands          23.4
Engine_size                  1.9
Horsepower                 160.0
Wheelbase                  100.5
Width                       67.6
Length                     176.6
Curb_weight                2.998
Fuel_capacity               15.8
Fuel_efficiency             25.0
Latest_Launch          2/18/2011
Power_perf_factor      66.113057
Name: 1, dtype: object

In [118]:
data1.iloc[[0,1,3,6],[1,2,3]]  #by location of index value

    Model  Sales_in_thousands  __year_resale_value
0  Celica              33.269               15.445
1     S40              16.957                0.000
3   Sable              67.956               11.030
6  Catera              11.185               18.225

In [108]:
data.loc[::-1]

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10-08-2011,62.777639
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,03-10-2011,91.389779
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,01-04-2012,NaN
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,06-03-2011,91.370778
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,02-02-2012,58.280150

In [121]:
data1.style.highlight_min()

In [127]:
d = data1.head(10)
d.style.bar()

In [128]:
d.style.hide_index()